<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgA49-4LWGl7BwOxV4pczLOYeyHHql3TY</string>
	<key>GCM_SENDER_ID</key>
	<string>147165259608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-36759</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-36759.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147165259608:ios:538c3a8044db0666b8672d</string>
</dict>
</plist>
